.wraper{
    display: flex;
    flex-direction: row;
    
    }
    .wraper nav{
     margin: 10px;
      padding-bottom: 100%;
      background: rgb(121, 170, 64);
    }
    .wraper main{
      width: 70%;
    }
    .wraper img{
      width: 100%;
      height: 300px;
      margin: 10px;
    }
    .wraper a:active{
      color: red;
    }
   wraper{
    background: red;


   }